@keyframes backgroudChange {
  0%   {background-color: white;}
  50%  {background-color: rgb(184, 184, 184);}
  100% {background-color: white;}
}

.bgGray {
  animation-name: backgroudChange;
  animation-duration: 1s;
}

button.btnBgGray {
  background-color: rgb(0, 0, 0);
  color: #fff;
}